.toolBar{
    height: 120px;
    width: 95vw;
    border: 1px solid rgb(157, 157, 157);
    border-radius: 8px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(204, 203, 203);
}
.h1-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    margin: 0 auto;
    border-bottom: lightcoral 4px solid;
    font-size: 16pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(95, 15, 15);
    background-image: linear-gradient(to right, #c0c0aa, #1cefff);
    border-radius: 6px;
}
.tools{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

div img[changeTool="here"]{
    height: 60px;
}

.color-container{
    border: 1px solid rgb(175, 175, 175);
    border-radius: 15px;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
}
.color{
    height: 40px;
    width : 40px;
    border-radius: 50%;
    margin-left: 4px;
    margin-right: 4px;
}
div img[changeSize="here"]{
    width: 15px;
    height: 10px;
}
.red{
    background-color: red;
}

.blue{
    background-color: blue;
}
.black{
    background-color: black;
}
.arrowContainer{
    
    height: 50px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.sizeArrow {
    height: 15px;
    width: 15px;
}

.sizeContainers{
    display: flex;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid lightslategrey;
    border-radius: 10px;
    display: none;
    position: static;

}
.size{
    background-color: black;
    border-radius: 50%;
    margin-right: 10px;
}
.size1 {
    width: 10px;
    height: 10px;
}
.size2 {
    width: 14px;
    height: 14px;
}
.size3 {
    width: 18px;
    height: 18px;
}
.size4 {
    width: 22px;
    height: 22px;
}

