.mini-menu-container {
    padding-left: .6rem;
    margin: 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    position: relative;
    background-color: transparent;

}
.three-dots {
    margin: 0;
    padding: 0;
    border: 0;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    color: whitesmoke;
}
.three-dots:hover {
    background-color: whitesmoke;
    border-radius: 50%;
    color: black;
}
.mini-menu {
    position: absolute;
    top: 30px;
    list-style: none;
    margin: 6px 0 0 0;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    border-radius: 6px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
    background-color: white;
    /* display: none; */
}
.mini-menu li{
    background-color: transparent;
    color:#0b0c10;
    font-size: .8rem;


}
.icon-menu {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    margin: 0;
    padding: 0;
}
.folder-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 6px;
}
.folder-name {
    text-align: center;
    color: whitesmoke;

}
.file-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 6px;
}
.file-name {
    width: 5rem;
    text-align: center;
    word-break: break-all;
    color: whitesmoke;
}
.folder-img, .file-img{
    cursor: pointer;
}
.resources-container {
    margin-left: 20%;
    margin-right: 12%;
    margin-top: 2%;
    /* border: 4px solid gainsboro; */
    height: fit-content;
    padding: .5rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}